* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Estilos para manejar vista de formularios conteniendo un contenedor para grabar audio */

.noGrabando {
  height: 4rem;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.noGrabando::after {
  content: "Toque para grabar";
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;

  right: 30%;
  display: inline-block;
  width: 150px;
}

.Grabando {
  height: 4rem;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.Grabando::after {
  content: "Toque para detener la grabación";
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  position: relative;

  right: 70%;
  display: block;
  width: 150px;
}
